body {
  background-color: #090706;
}

/* Scroll bar*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #474546;
}

::-webkit-scrollbar-thumb {
  background: #e4cab5;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff2e7;
}
/* Search bar */
.searchbar-and-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchBar,
.filterBar {
  margin: 0; /* Remove default margin */
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 20px; /* Adjust the value to change the roundness of corners */
  background-color: #e4cab5;
  color: black;
}

.searchBar {
  flex-grow: 1; /* Allow it to grow and take available space */

  max-width: 200px;
}

/* site container */
.container {
  background-color: #2a2829;
  padding-left: 2%;
  padding-top: 1%;
  padding-right: 2%;
}

/* gallery view */
.gallery-wrapper {
  background-color: #2a2829;
  font-family: "Titillium Web";
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* Four columns with equal width */
  grid-gap: 10px;
  /* Gap between grid items */
  padding-left: 2%;
  padding-top: 2%;

  .card {
    transition: 0.3s;
    max-width: 210px;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .text-container {
    padding: 4px 16px;
  }

  .gallery-title {
    font-size: 22px;
    color: #fff2e7;
  }

  .gallery-enddate {
    font-size: 14px;
    color: #a4826d;
  }

  .gallery-price {
    font-size: 20px;
    color: #e4cab5;
  }

  .gallery-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    /* Cut the image to fit */
    border: 4px solid white;
    /* White border of 4 pixels */
  }
}

.user-info {
  font-size: 20px;
  font-family: "Titillium Web";
  color: #e4cab5;
  text-align: right;
}

/* Header */
.header {
  font-family: "Alegreya Sans";
}

/* NavBar */
.nav-bar {
  color: #fff2e7;
  background-color: #090706;
  font-size: 20px;
  font-family: "Alegreya Sans";

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .logo {
    height: 100px;
    margin-right: 20px;
  }

  .left-and-middle-nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }

  a:link,
  a:visited {
    color: #fff2e7;
    text-decoration: none;
  }

  .middle-nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }

  .nav-bar-login {
    flex-grow: 0;
    margin-right: 20px;
  }

  .slogan {
    color: #a4826d;
    text-align: center;
    margin-left: 100px;
    margin-top: 10px;
  }
}

.listings_page {
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listing_table {
  width: 70%;
}

.listings_heading {
  color: white;
}

.listings_info {
  color: white;
  text-align: center;
}

thead tr {
  margin-bottom: 5px;
  border-bottom: #E4CAB5 1px solid;
}


.bids_page {
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bids_table {
  width: 70%;
}

.bids_heading {
  color: white;
}

.bids_info {
  color: white;
  text-align: center;
}